In [20]:
print('hi, let\'s get going!')
print("hi, let's get going!")
print("notice the diff above. Avoiding Escaping \n If a string contains a single quote, it is easier to enclose it in double quotes,\n and vice versa. For example:")

hi, let's get going!
hi, let's get going!
notice the diff above. Avoiding Escaping
 If a string contains a single quote, it is easier to enclose it in double quotes,
 and vice versa. For example:

In [21]:
print('starry sky')
print('*'  * 100)

#vaRIABLES
price = 10 #int
price = 20
rating = 4.80 #float
name = "john doe"
is_published = True #keyword
print('price is', price)
print('rating is', rating)

starry sky
****************************************************************************************************
price is 20
rating is 4.8

In [22]:
#getting input
name= input('what is your name?')
#user enters, we store it in a var called name
print('hi',name)

hi ankit

In [26]:
birth_year= input('what is year of your birth?')
print(type(birth_year))
age  = 2025 - int(birth_year)
print(type(age))
print('age:', str(age) + 'years')

<class 'str'>
<class 'int'>
age: 34years

In [45]:
mystr = '''
this is multi line string
and it can go on and on inside the 3 's 
'''

print(mystr[0:15])
print(mystr[-6])
print(mystr[-15])
print(mystr[0:])
print(mystr[:15])
print(mystr[:])

name = "ankitrana"
print(name[1:-1])

#Formatted str

first = 'Ankit'
last = 'Rana'

msg = f'{first} [{last}] is a coder'
print(msg)

this is multi
3
s

this is multi line string
and it can go on and on inside the 3 's


this is multi

this is multi line string
and it can go on and on inside the 3 's

nkitran
Ankit [Rana] is a coder

In [56]:
#string functions and methods

course = 'Python for beginners'
print(len(course))

#upper is a method not s func
print(course.upper())
print(course.lower())
print(course.find('P'))
print(course.find('p')) #not found
print(course.replace('P','PPPP')) #REPLACE CHAR
print('Python' in course)
print('python' in course)

20
PYTHON FOR BEGINNERS
python for beginners
0
-1
PPPPython for beginners
True
False

In [75]:
#arithmetic ops

print(10+3)
print(10/3)
print(10//3) #int quotient
print(10%3)
print(10**3)

print(100* '#')
#operator precedence BOeDMAS: EXPO DIV MUL ADD SUB
print(10+3*2)
print(10+3*2-1+4**2) 
print((10+3)*(2-1)+(4**2))
print(100* '#')
print(round(2.9))
print(abs(-2.9))

13
3.3333333333333335
3
1
1000
####################################################################################################
16
31
29
####################################################################################################
3
2.9

In [77]:
import math
#always refer to python 3 math module
print(math.ceil(-2.9))
print(math.ceil(2.9))
print(math.floor(-2.9))
print(math.floor(2.9))

-2
3
-3
2

In [82]:
#if statements
is_hot = False
is_cold = True

if is_hot:
    print('drink water!')
elif is_cold:
    print('today is cold')
else:
    print('have a nice day')
    
print('outside of if else')

today is cold
outside of if else

In [85]:
#logical operators
has_high_income = True
has_good_credit = False

if has_good_credit and has_high_income:
    print("qualified")
else:
    print("do not qualify")

has_high_income = True
has_good_credit = False

if has_good_credit or has_high_income:
    print("qualified")
else:
    print("do not qualify")

do not qualify
qualified

In [89]:
#commparison ops
temperature = 34

if temperature >= 30:
    print('it is a hot day')
else:
    print('not hot')

it is a hot day

In [93]:
#while loops
i=1
while i<=5:
    print(i)
    i = i+1
print("Done >>>>>>>>>>>>>>>>>>>>>>>>")

#lower triangle
i=1
while i<=5:
    print('*'* i)
    i = i+1
print("Done >>>>>>>>>>>>>>>>>>>>>>>>>")

1
2
3
4
5
Done >>>>>>>>>>>>>>>>>>>>>>>>
*
**
***
****
*****
Done >>>>>>>>>>>>>>>>>>>>>>>>>

In [101]:
for item in ['ak','jk',45,78,'12']:
    print(item)

print(100 * '#')
for item in range(5,10):
    print(item)

print(100 * '-')
for item in range(5,15,2):
    print(item)
print(100 * '~')

ak
jk
45
78
12
####################################################################################################
5
6
7
8
9
----------------------------------------------------------------------------------------------------
5
7
9
11
13
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [108]:
#nested loops
for x in range(2):
    for y in range(4):
        print(f'({x},{y})')
print(100 * '~')

nums = [5,2,5,2,2]

for num in nums:
    out = ''
    for x in range(num): 
        out+= 'x'
    print(out)

(0,0)
(0,1)
(0,2)
(0,3)
(1,0)
(1,1)
(1,2)
(1,3)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
xxxxx
xx
xxxxx
xx
xx

In [128]:
#lists
names = ['bob', 'ross', 'rana', 'ankit']
print(names)
print(names[2])
print(names[-1])
print(names[2:])
print(names[1:3])
print(names[:])
names[0] = 'mr_bob'
print(names)
print(100 * '~')
print(100 * '~')

#largest in a list
nums = [3,8,12,7,88,9,12,0,-4,-44,721, -234]
total_count = len(nums)
largest = 0
for index in range(1, total_count):
    if nums[index-1] > largest:
        largest = nums[index-1]
        print(largest)
print(f'largest is {largest}')

['bob', 'ross', 'rana', 'ankit']
rana
ankit
['rana', 'ankit']
['ross', 'rana']
['bob', 'ross', 'rana', 'ankit']
['mr_bob', 'ross', 'rana', 'ankit']
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
3
8
12
88
721
largest is 721

In [ ]:
#matrix as list of lists

matrix = [[1,2,3],[4,5,6],[7,8,9]]

print(matrix[0][1])
print(matrix[1][1])
print(matrix[1:])
print(matrix[:1])

names = ['bob', 'ross', 'rana', 'ankit']
names.append('john')
print(names)

names.insert(0, 'jon')
print(names)

names.remove('ross')
print(names)

# names.clear()
# print(names)

print('************************************')
names.pop()
print(names)

names.index('rana')
print(names.index('rana'))
print('rana' in names)
print('^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^')
print(names.count('bob'))
print(names.sort())
#largest in a list
nums = [3,8,12,7,88,9,12,0,-4,-44,721, -234]
print(nums.sort()) #they are now sorted overwritten
print(nums)
nums.reverse()
print(nums)
print('^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^')
numcopy = nums.copy()
nums.append(12345)
print(numcopy)
print(nums)
print('^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^')

2
5
[[4, 5, 6], [7, 8, 9]]
[[1, 2, 3]]
['bob', 'ross', 'rana', 'ankit', 'john']
['jon', 'bob', 'ross', 'rana', 'ankit', 'john']
['jon', 'bob', 'rana', 'ankit', 'john']
************************************
['jon', 'bob', 'rana', 'ankit']
2
True
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
1
None
None
[-234, -44, -4, 0, 3, 7, 8, 9, 12, 12, 88, 721]
[721, 88, 12, 12, 9, 8, 7, 3, 0, -4, -44, -234]
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
[721, 88, 12, 12, 9, 8, 7, 3, 0, -4, -44, -234]
[721, 88, 12, 12, 9, 8, 7, 3, 0, -4, -44, -234, 12345]

In [172]:
#remove duplicates in a list
listnums = [1,2,3,3,2,1,4,7,9,7,6,4,5,9,5]

oneoccurrence = []

for item in listnums:
    if item not in oneoccurrence :
        oneoccurrence.append(item)
print(oneoccurrence)

[1, 2, 3, 4, 7, 9, 6, 5]

In [ ]:
#tuples
numbers = (1,2,3,1,1)
# numbers[0] =6 can't do this
print(numbers.count(1)) #how many 1's

#tuple unpacking
a,b,c,d,e = numbers #applis to lists as well
print(b)

3
2

In [194]:
#dictionaries
customer = {
    "name" : "john smith",
    "age" : 30,
    "is_verified": True
}

print(customer['name'])

print(customer.get('name'))
print(customer.get('birthdate'))

customer["hobby"] = ("soccer, art, dance")
print(customer.get('hobby'))
print(customer['hobby'])

john smith
john smith
None
soccer, art, dance
soccer, art, dance

In [201]:
#ask phone num in digits, trsnslate in letters

phone_num = input('enter the digits> ')
print(phone_num)

phonenum_dict = {
    
    "1": 'one',
    "2": 'two',
    "3": 'three',
    "4": 'four',
    "5": 'five',
    "6": 'six',
    "7": 'seven',
    "8": 'eight',
    "9": 'nine',
    "0": 'zero'
}

displaystr = ""
for ch in phone_num:
    displaystr += phonenum_dict.get(ch, "!") + " "
print(displaystr)

8857102
eight eight five seven one zero two

In [ ]:
#functions
def greet_user():
    print('hi there')
    print('this is your function')


greet_user()


#functions
def greet_user2(name):
    print(f'hi there {name}')
    print('this is your function')


greet_user2('bob')
greet_user2('ross')
greet_user2('mary')

hi there
this is your function
hi there bob
this is your function
hi there ross
this is your function
hi there mary
this is your function

In [ ]:
#keyword arguments - position doesnt matter
#functions
def greet_user2(fname, lname):
    print(f'hi there {fname}')
    print('this is your function')

greet_user2(lname = 'smith', fname = 'bob')

#positional args arealways passed first, keyword comes after

hi there bob
this is your function

In [ ]:
def square(number):
    print (number*number)

print(square(14))
#none is returned by default and gets printed

196
None

In [220]:
#try xcept error handling
try:
    age = int(input('age: '))
    risk = 12312/age
    print(age)
except ValueError:
    print('invalid val')
except ZeroDivisionError:
    print('age cant be 0')

age cant be 0

In [225]:
#classes: data type

class Point:
    def move(self):
       print('move')
    
    def draw(self):
       print('draw METHOD')  

#OBJ IS AN INSTANCE OF THE CLASS       
pointobj = Point()
pointobj.draw()


#ATTRIBUTES of an obj

pointobj.xattr = 10
pointobj.yattr = 20

print(pointobj.xattr)

draw METHOD
10

In [229]:
#costructors
#get called on object creation

class Point:
    
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def move(self):
       print('move')
    
    def draw(self):
       print('draw METHOD')  

#OBJ IS AN INSTANCE OF THE CLASS       
pointobj = Point(10,30)
pointobj.x = 11
print(pointobj.x)

11

In [236]:
class Person:
    def __init__(self,x):
        self.name = x
    
    def talk(self):
        print(f'hi, ok {self.name} you can talk now')

personobj1 = Person('ankit')
personobj2 = Person('bob')
personobj3 = Person('mary')
#print(personobj.name)
personobj1.talk()
personobj2.talk()
personobj3.talk()

hi, ok ankit you can talk now
hi, ok bob you can talk now
hi, ok mary you can talk now

In [241]:
#inheritance
class Mammal:
    def walk(self):
        print("walk ruff ruff!!")
        
class Dog(Mammal): 
    def bark(self):
        print('bark')


class Cat(Mammal): 
    def meow(self):
        print('meow meow')

dog1 = Dog() #create obj
dog1.walk()
cat1 = Cat()
cat1.meow()

walk ruff ruff!!
meow meow

In [ ]:
#modules
import computeforme
#computeforme.py exists  

#import specific func or class
from  computeforme import kg_to_lbs

#helps breaking up the code

In [254]:
#built in modules

#https://docs.python.org/3/py-modindex.html
#look under library root

import random

for i in range(4):
    x = random.randint(0,15)
    y = random.random()
    print(x,y)
    
#random.choice(listnamehere)

9 0.7407097047620036
9 0.263947076846464
15 0.37543440624359825
9 0.7372241879629666

In [266]:
#working with directories

from pathlib import Path

p = Path("justadirectory")
print(p.exists())

# p = Path("emails")
# p.rmdir()
# absolute or relative paths

pobj = Path()
for file in pobj.glob('*'):
    print(file)

True
.DS_Store
LICENSE
tutorial.py
math_1.py
README.md
comparison.py
math2.py
allTheBasicStuff_oneStopReview.ipynb
notebook_2.py
.git
justadirectory
roots.py
strthings.py

In [1]:

import sys
!{sys.executable} -m pip install openpyxl
!{sys.executable} -m pip install pandas

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python3 -m pip install --upgrade pip
Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.6-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/arana/Library/Python/3.13/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/arana/Library/Python/3.13/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 4.0 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.2.6-cp313-cp313-macosx_14_0_arm64.whl (5.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.1/5.1 MB 3.8 MB/s eta 0:00:00a 0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
  WARNING: The scripts f2py and numpy-config are installed in '/Library/Frameworks/Python.framework/Versions/3.13/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-2.2.6 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [17]:
#checkout pypi.org for existing packages
#openpyxl for ms excel
#pip install openpyxl

import openpyxl as xl
from openpyxl.chart import BarChart, Reference
wb = xl.load_workbook('transactions.xlsx')
sheet = wb['Sheet1']
cell = sheet.cell(1,1)
print(cell.value)
cell = sheet.cell(1,2)
print(sheet.max_row)


for row in range(2, sheet.max_row+1):
    cell = sheet.cell(row,3)
    new_price = cell.value * 0.9
    new_price_cell_obj = sheet.cell(row,4)
    new_price_cell_obj.value = new_price

values = Reference(sheet, min_row=2, 
          max_row=sheet.max_row,
          min_col=4,
          max_col=4
          )
chart = BarChart()
chart.add_data(values)
sheet.add_chart(chart, 'e2')
wb.save('updated_transac.xlsx')

transaction_id
4

In [ ]:
#ML, A subset of AI
#BUILD A MODEL GIVE IT LOTS OF DATA TO TRAIN AND LEARN

# import the data
# clean the data
# split the data into training / test sets
# create a model
# train the model
# make predictions
#eval and improve

In [2]:
"""popular libraries
numpy
pandas
matplotlib
scikit learn: common algos like nn, dec trees
"""

#load data from csv taken from kaggle

# import kagglehub
# # Download latest version
# path = kagglehub.dataset_download("gregorut/videogamesales")
# print("Path to dataset files:", path)

import pandas as pd
df = pd.read_csv('vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01