lesson -> key points -> deeper dive with examples
decision tree:   nodes lead to splits and then at teh very bottom: leafs

define - fit a model - make predictions - validate our model

a. while defining you wanna think which model is best suited for my task
b. fitting is the same as training - taking the defined model and applying it to our dataset and asking it to pull underlying patterns
c. perdict is generalizingit or apply it to data it has never seen before

Example of a decision tree model on housing prices in Melbourne

Basic data exploration - pandas (a library for data analysis and manipulation)
A DataFrame in Python is a two-dimensional, labeled data structure commonly used for handling and analyzing structured data. It comes from the Pandas library, which is built on top of NumPy.

In [6]:
import kagglehub
import pandas as pd
# Download latest version
path = kagglehub.dataset_download("ronikmalhotra/melbourne-housing-dataset")

pathtofile = r"/Users/arana/.cache/kagglehub/datasets/ronikmalhotra/melbourne-housing-dataset/versions/1/Melbourne_housing.csv"
# print("Path to dataset files:", path)
#read into csv

housingdata = pd.read_csv(path+'/Melbourne_housing.csv')
housingdata.shape

/var/folders/w9/spn366751dd808wbdcll3ngc0000gn/T/ipykernel_66261/1334674297.py:10: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  housingdata = pd.read_csv(path+'/Melbourne_housing.csv')

(34857, 22)

In [7]:
housingdata.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea', 'Latitude', 'Longtitude',
       'Regionname', 'Propertycount', 'ParkingArea', 'Price'],
      dtype='object')

In [8]:
housingdata.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longtitude,Regionname,Propertycount,ParkingArea,Price
0,Abbotsford,68 Studley St,2,h,SS,Jellis,3/9/2016,2.5,3067.0,2.0,...,126.0,inf,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0,Carport,NaN
1,Airport West,154 Halsey Rd,3,t,PI,Nelson,3/9/2016,13.5,3042.0,3.0,...,303.0,225,2016.0,Moonee Valley City Council,-37.7180,144.8780,Western Metropolitan,3464.0,Detached Garage,840000.0
2,Albert Park,105 Kerferd Rd,2,h,S,hockingstuart,3/9/2016,3.3,3206.0,2.0,...,120.0,82,1900.0,Port Phillip City Council,-37.8459,144.9555,Southern Metropolitan,3280.0,Attached Garage,1275000.0
3,Albert Park,85 Richardson St,2,h,S,Thomson,3/9/2016,3.3,3206.0,2.0,...,159.0,inf,NaN,Port Phillip City Council,-37.8450,144.9538,Southern Metropolitan,3280.0,Indoor,1455000.0
4,Alphington,30 Austin St,3,h,SN,McGrath,3/9/2016,6.4,3078.0,3.0,...,174.0,122,2003.0,Darebin City Council,-37.7818,145.0198,Northern Metropolitan,2211.0,Parkade,NaN

In [9]:
#look for missing data

housingdata.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom           8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21097
YearBuilt        19306
CouncilArea          3
Latitude          7976
Longtitude        7976
Regionname           0
Propertycount        3
ParkingArea          0
Price             7610
dtype: int64

In [11]:
#a table of summary values

housingdata.describe()

,Rooms,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,YearBuilt,Latitude,Longtitude,Propertycount,Price
count,34857.000000,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,15551.000000,26881.000000,26881.000000,34854.000000,2.724700e+04
mean,3.031012,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,1965.289885,-37.810634,145.001851,7572.888306,1.050173e+06
std,0.969933,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,37.328178,0.090279,0.120169,4428.090313,6.414671e+05
min,1.000000,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.190430,144.423790,83.000000,8.500000e+04
25%,2.000000,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,1940.000000,-37.862950,144.933500,4385.000000,6.350000e+05
50%,3.000000,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,1970.000000,-37.807600,145.007800,6763.000000,8.700000e+05
75%,4.000000,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,2000.000000,-37.754100,145.071900,10412.000000,1.295000e+06
max,16.000000,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,2106.000000,-37.390200,145.526350,21650.000000,1.120000e+07

what is a prediction target?  our output, the thing we are trying to predict.

features: all teh variables taht can be contributing to our prediction

y = pancakes.rating
x will have features : flours, bp, milk, salt, sugar etc
build model using scikit learn
define it, fit it/train it

In [ ]:
# y = housingdata.Price
# Drop rows where Price is NaN
housingdata = housingdata.dropna(subset=['Price'])
y = housingdata.Price
y.head()

0          NaN
1     840000.0
2    1275000.0
3    1455000.0
4          NaN
Name: Price, dtype: float64

In [18]:
#create a list of your features
chosen_column_features = ['Rooms', 'Bathroom', 'Landsize', 'Latitude', 'Longtitude']
#take X as a suset of the data that only has those columns
X = housingdata[chosen_column_features]
X.describe()

              Rooms      Bathroom       Landsize      Latitude    Longtitude
count  34857.000000  26631.000000   23047.000000  26881.000000  26881.000000
mean       3.031012      1.624798     593.598993    -37.810634    145.001851
std        0.969933      0.724212    3398.841946      0.090279      0.120169
min        1.000000      0.000000       0.000000    -38.190430    144.423790
25%        2.000000      1.000000     224.000000    -37.862950    144.933500
50%        3.000000      2.000000     521.000000    -37.807600    145.007800
75%        4.000000      2.000000     670.000000    -37.754100    145.071900
max       16.000000     12.000000  433014.000000    -37.390200    145.526350

In [19]:
from sklearn.tree import DecisionTreeClassifier  # For classification
from sklearn.model_selection import train_test_split

housing_model = DecisionTreeClassifier(random_state=1)

housing_model.fit(X,y)

ValueError: Input y contains NaN.